/* .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
body {
  background-color: #171717;
}
.container2 {
  padding-bottom: 100px;
  max-width: 1460px;
  margin: auto;
  box-sizing: border-box;
}
.logo_flex {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}

.header_footer_form {
  text-align: right;
  border: 1px solid #e4b564;
}

.header_footer_form_text {
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 49px;
}
.header_footer_form_text_link {
  text-decoration: none;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
}
.title {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  padding-top: 128px;
}
.description {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  padding-top: 46px;
  width: 1182px;
}

.wrapper {
  gap: 30px;
  grid-template-rows: 468px 468px;
  width: 1fr;
  display: grid;
  grid-template-areas:
    "a a b b c c"
    "d d d v v v ";
}
.work_list_text {
  background-color: transparent;
  display: block;
  text-align: center;
  margin-top: 220px;
  margin-bottom: 220px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  width: 380px;
}

.work_list_ground {
  grid-area: a;
  background-color: #634f2c;
}

.work_list_under {
  grid-area: b;
  background-color: #b4a385;
}

.work_list_chanels {
  grid-area: c;
  background-color: #e4b564;
}
.work_list_cameras {
  grid-area: d;
  background-color: #635a4a;
}

.work_list_well {
  grid-area: v;
  background-color: #b08c4d;
}

.techno_grid {
  padding-top: 150px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 100px);
}
.techno_grid1 {
  padding-top: 20px;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  grid-row: 1/5;
  background-color: #0e0e0e;
}
.techno_grid2 {
  grid-row: 1/6;
  background-color: #242424;
}
.techno_grid3 {
  grid-row: 1/4;
  background-color: #1f1f1f;
}
.techno_grid4 {
  grid-row: 5/11;
  background-color: #1f1f1f;
}

.techno_grid5 {
  grid-row: 6/11;
  background-color: #e4b564;
  margin-bottom: 30px;
}

.techno_grid6 {
  grid-row: 4/8;
  background-color: #0e0e0e;
}
.techno_grid7 {
  grid-row: 8/11;
  background-color: #0a0909;
}
.Techno_grid_text {
  background-color: transparent;
  display: block;
  padding-left: 54px;
  padding-top: 44px;

  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  width: 300px;
}

.container {
  max-width: 1920px;
  margin: auto;
  box-sizing: border-box;
  background-color: transparent;
  display: block;
  align-items: center;
  width: 100vw;
  height: 1054px;
  background-color: #0e0e0e;
}

.portfolio {
  padding-top: 100px;
  display: flex;
  margin-top: 46px;
  justify-content: space-around;
}
.clients {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}

.grid_clients {
  padding-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: 391px 391px;
  justify-content: center;
}
.eid {
  background-color: #634f2c;
}
.mavis {
  background-color: #e8d2abc2;
}
.arsenal {
  background-color: #e4b564;
}
.arsenaln {
  background-color: #635a4a;
}

.setl {
  background-color: #b08c4d;
}
.images {
  display: block;
  text-align: center;
  margin-top: 220px;
  margin-bottom: 220px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}
