.container {
  box-sizing: border-box;
  width: 1280px;
  margin: auto;
}
.logo_link {
  text-decoration: none;
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}
.logo_style {
  color: #4bcaff;
}

.navigation_menu {
  margin-top: 40px;
  width: 1280px;
  display: flex;
  background-color: #35444f;
  justify-content: center;
}
.navigation_style {
  font-family: "Roboto";
  padding: 24px 32px 18px 32px;
  border: 1px solid #ffffff;
  border-top: none;
  border-bottom: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.aside_main {
  margin-top: 49px;
}

.aside {
  margin-right: 48px;
  border: 1px solid #000000;
  display: flex;
  width: 344px;
  height: 399px;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  align-items: center;
  justify-content: space-around;
  color: #485863;
  float: left;
}

.main_block {
  display: flex;
  flex-direction: column;
  width: 885px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-right: 0;
}

.margin_top {
  margin-top: 34px;
}

.main_image {
  margin-bottom: 37px;
  padding: 75px 268px 73px 297px;
  border: 1px solid black;
}
.footer_navigation {
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #63696e7a;
  margin-top: 54px;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.left {
  display: flex;
  flex-direction: row;

  padding-left: 40px;
}
.footer_left_text {
  padding-left: 40px;
}

.margin_right {
  margin-right: 40px;
}
