.header {
  height: 78px;
}
.header_navigation {
  width: 1280px;
}
.header_menu {
  text-align: center;
}
.header_menu_link {
  color: #ff0000;
  text-decoration: none;
}
.header_menu_item {
  list-style: none;
  display: inline-block;
  padding-top: 25.5px;
  padding-left: 72px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
main{
    width: 1280px;

}
.main_title {
  color: #373737;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 3.3px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 48px;
  padding-left: 253px;
  padding-right: 253px;
}
.main_text_top {
  display: inline-block;
  color: #373737;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: 26px;
  text-align: center;
  padding-left: 67.5px;
  padding-right: 67.5px;
  padding-top: 38px;
}
.maint_text_bottom{
  display: inline-block;
  color: #373737;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: 26px;
  text-align: center;
  padding-left: 67.5px;
  padding-right: 67.5px;
  padding-top: 28px;
}
.button{
display: inline-block;
margin-top: 66px;
margin-left: 544.5px;
margin-right: 544.5px;
background-color: #ff0000;

}
.button_text{
  padding: 20px 40px;
  color: #ffff;
  text-decoration: none;
  background-color: red;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  border-radius: 5%;
}


.footer_text{
  padding-top: 82px;
  width: 1200px;
text-align: right;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;
color: #373737;
padding-right: 105px;
}
